
@media (max-width:768px) {

    .commitsection-para3 {
        padding: 0;
    }
    .benefitscontentsection4 {
        padding-left:22px;
    }
}

@media (max-width:1200px ) {
    .benefitscontentsection4 {
            padding-left: 2rem;
}
.congraimg {
    width: 100%;
}

}