@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.left_purple_ellipse {
  position: absolute;
  background: rgba(216, 213, 241, 0.9);
  width: 500px;
  height: 500px;
  filter: blur(59.375px);
  top: 250px;
  left: 0px;
  opacity: 0.8;
}

.right_purple_ellipse {
  top: -100px;
  opacity: 0.9;
  right: 0;
  position: absolute;
  background: rgba(216, 213, 241, 0.9);
  width: 700px;
  height: 600px;
  filter: blur(59.375px);
}

.right_purple_ellipse_commited {
  top: -150px;
  opacity: 0.8;
  right: 0;
  position: absolute;
  background: rgba(216, 213, 241, 0.9);
  width: 600px;
  height: 500px;
  z-index: -2;
  /* bottom: 120px; */
  filter: blur(59.375px);
}
.right_numbered_bg_commited {
  background: linear-gradient(93deg, #3b94fe 2.94%, #554d99 101.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 225px;
  position: absolute;
  right: 240px;
  font-weight: 800;
  z-index: -1;
  top: -120px;
  opacity: 0.3;
}

.left_purple_ellipse_commited {
  top: -150px;
  opacity: 0.8;
  right: 55rem;
  position: absolute;
  background: rgba(216, 213, 241, 0.9);
  width: 600px;
  height: 31rem;
  z-index: -2;
  /* bottom: 120px; */
  filter: blur(59.375px);
}

.left_numbered_bg_commited {
  background: linear-gradient(93deg, #3b94fe 2.94%, #554d99 101.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 225px;
  position: absolute;
  right: 69rem;
  font-weight: 800;
  z-index: -1;
  top: -150px;
  opacity: 0.3;
}

.gradient_btn {
  border-radius: 5px;
  color: white;
  /* border: 1px solid #000; */
  background: linear-gradient(61deg, #2379fe 0%, #564b97 100%);

  padding: 10px 20px;
  font-size: 14px;
  margin-top: 1.5rem;
}

.gradient_btn:hover {
  transition: 0.2s ease;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.playerimg {
  width: 70%;
  margin-left: 20%;
}

.slider-section {
}

.congraimg {
  width: 70%;
}
.commitsection-para3 {
  padding-right: 10rem;
}

/* .commited-section::before {
  position: absolute;
  content: "01";
  font-size: 190px;
  right: 6rem;
  margin-top: 0;
  opacity: 0.4;
  font-weight: 900;
  background: linear-gradient(93deg, #3B94FE 2.94%, #554D99 101.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: color-burn;
  top:75rem;
} 
 
*/
.benefitscontentsection4 {
  padding-left: 12rem;
}
.contentsectionlets {
  padding-left: 12rem;
}
.contentsectionlets {
  padding-left: 12rem;
}
.contentsectionlets-head {
  letter-spacing: 6px;
}
.dedication-text {
  letter-spacing: 6px;
  color: #888;
}
.contentsectionlets-head {
  color: #888;
}
.timeeffective-text {
  letter-spacing: 6px;
  color: #888;
}
.commitsection-heading {
  padding-top: 2rem;
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
}
.benefits-section-heading {
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
}
.circle-section {
  display: flex;
  justify-content: center;
  border: 3px solid #000;
  width: 125px;
  height: 125px;
  border-radius: 50rem;
  margin: auto;
  cursor: pointer;
}
.lets-talk-section {
  background-image: linear-gradient(to right, #d8d5f1, #d4e3f7);
}
.vectorimg {
  width: 18px;
}

.footer {
  background-color: #111316;
}

.footer-para {
  padding-left: 12.25rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

.footer-help {
  display: flex;
  gap: 10rem;
  padding-top: 2rem;
}

.help-text-footer {
  font-family: poppins !important;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: -0.6px;
}
.small-text-footer {
  font-family: Poppins !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: -0.32px;
}
.call-section-footer {
  border-left: 4px solid #fff;
  padding-left: 1rem;
}
.icon-section-footer {
  border-left: 4px solid #fff;
}
.icons-footer {
  padding: 3px;
  gap: 1rem;
}
.footer-menu {
  line-height: 40px;
  font-size: 15px;
  font-weight: 200;
  font-family: "outfit";
}
.footer-menu-section {
  display: flex;
  gap: 18rem;
}
.copyright-section {
  background-color: #090c10;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
  font-family: Poppins;
  font-size: 15px;
}
.sidebar-a {
  color: #a5a5a5;
  font-size: 25px;
}
.sidebar-a:hover {
  transition: 0.2s ease;
  color: #1f84fe;
  font-size: 40px;
  cursor: pointer;
}
.sidebar {
  border-right: 1px solid #aaa;
  margin-right: 2rem;
  line-height: 5.5rem;
}
.sidebar_selected {
  transition: 0.2s ease;
  color: #1f84fe;
  font-size: 40px;
  cursor: pointer;
}

/* slider css */
.slider_custom {
  display: flex !important;
  justify-content: space-between;
}
.slider_custom {
  height: 50%;
}
.slider_custom .slick-list {
  width: 84% !important;
  /* height: 90%; */
  margin: 0px auto;
  padding: 0 0 0 0 !important;
}
.slick-slide {
  margin: 0 10px !important;
}

/*------------modal css ---------------------*/
input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-bottom 0.3s;
  font-size: 24px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-bottom: 2px solid #000;
}

#message {
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-bottom 0.3s;
  font-size: 24px;
}

.cross {
  float: right;
  width: 1rem;
}

.talktous {
  color: #14191f;
  line-height: 62px;
  letter-spacing: -1.4px;
  font-size: 40px;
}

.shortly {
  color: #c0c0c0;
  line-height: 20px;
  letter-spacing: 0.32px;
  font-size: 18px;
}

.mymessagebtn {
  background-color: #000;
  color: #fff;
  width: 100% !important;
}

.mymessagebtn:hover {
  background-color: #000 !important;
  color: #fff !important;
}
