@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

.left_purple_ellipse {
  position: absolute;
  background: rgba(216, 213, 241, 0.9);
  width: 500px;
  height: 500px;
  filter: blur(59.375px);
  top: 250px;
  left: 0px;
  opacity: 0.8;
}

.right_purple_ellipse {
  top: -100px;
  opacity: 0.9;
  right: 0;
  position: absolute;
  background: rgba(216, 213, 241, 0.9);
  width: 700px;
  height: 600px;
  filter: blur(59.375px);
}

.gradient_btn {
  border-radius: 5px;
  color: white;
  /* border: 1px solid #000; */
  background: linear-gradient(61deg, #2379fe 0%, #564b97 100%);

  padding: 10px 20px;
  font-size: 14px;
  margin-top: 1.5rem;
}

.gradient_btn:hover {
  transition: 0.2s ease;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.playerimg {
  width: 70%;
  margin-left: 20%;
}

.congraimg {
  width: 70%;
  
}
.commitsection-para3 {
  padding-right: 10rem;
  font-family: '__Outfit_ef45e8';
}

 /* .commited-section::before {
  position: absolute;
  content: "01";
  font-size: 190px;
  right: 6rem;
  margin-top: 0;
  opacity: 0.4;
  font-weight: 900;
  background: linear-gradient(93deg, #3B94FE 2.94%, #554D99 101.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: color-burn;
  top:75rem;
} 
 
*/

.benefitscontentsection4{
  padding-left: 12rem;

}
.contentsectionlets{
  padding-left: 12rem;
}
.contentsectionlets-head{
  letter-spacing: 6px;
}
.dedication-text {
  letter-spacing: 6px;
  color: #888;
}
.contentsectionlets-head {
  color: #888;
}
.timeeffective-text {
  letter-spacing: 6px;
  color: #888;
}
.lets-talk-section-para{
  font-family: '__Outfit_ef45e8';
}
.benefits-section-para{
  font-family: '__Outfit_ef45e8';
}
.commitsection-heading {
  font-family: '__Outfit_12c7b4', '__Outfit_Fallback_12c7b4';
  padding-top: 2rem;
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
}
.benefits-section-heading {
  font-family: '__Outfit_12c7b4', '__Outfit_Fallback_12c7b4'; 
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
}
.circle-section{
  display: flex;
  justify-content: center;
  border: 3px solid #000;
  width: 120px;
  height: 120px;
  border-radius: 50rem;
  margin: auto;
}
.lets-talk-section{
  background-image: linear-gradient(to right, #D8D5F1, #D4E3F7);
}
.vectorimg {
  width: 18px;
}

.footer {
  background-color: #111316;
}
.footer-section-para {
  font-family: '__Outfit_12c7b4', '__Outfit_Fallback_12c7b4';
}

.footer-para {
  padding-left: 12.25rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  font-family: '__Outfit_daeadc';
}

.footer-help {
  display: flex;
  gap: 10rem;
  padding-top: 2rem;
}
a {
  font-family: poppins !important;
}
.help-text-footer {
  font-family: poppins !important;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: -0.6px;
}
.small-text-footer {
  font-family: Poppins !important;
  font-size: 16px;
  font-style: normal;
  font-weight:600;
  line-height: 23px;
  letter-spacing: -0.32px;
  
}
.call-section-footer {
  border-left: 4px solid #fff;
  padding-left: 1rem;
}
.icon-section-footer {
  border-left: 4px solid #fff;

}
.icons-footer {
  padding: 3px;
  gap: 1rem;
}
.footer-menu {
  line-height: 40px;
  font-size: 15px;
  font-weight: 200;
 font-family: 'outfit';
}
.footer-menu-section{
  display: flex;
  gap: 18rem;
}
.copyright-section {
  background-color: #090C10;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
  font-family: Poppins;
  font-size: 15px;
}















