@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0px;
  margin: 0px;
}

.left_purple_ellipse {
  position: absolute;
  background: rgba(216, 213, 241, 0.9);
  width: 500px;
  height: 500px;
  filter: blur(59.375px);
  top: 250px;
  left: 0px;
  opacity: 0.8;
}

.right_purple_ellipse {
  top: -100px;
  opacity: 0.9;
  right: 0;
  position: absolute;
  background: rgba(216, 213, 241, 0.9);
  width: 700px;
  height: 600px;
  filter: blur(59.375px);
}

.gradient_btn {
  border-radius: 5px;
  color: white;
  /* border: 1px solid #000; */
  background: linear-gradient(61deg, #2379fe 0%, #564b97 100%);

  padding: 10px 20px;
  font-size: 14px;
  margin-top: 1.5rem;
}

.gradient_btn:hover {
  transition: 0.2s ease;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.playerimg {
  width: 70%;
  margin-left: 20%;
}

.congraimg {
  width: 70%;
  margin-left:10%;
}
.commitsection-para3 {
  padding-right: 23%;
  font-family: '__Outfit_ef45e8';
}

.benefitscontentsection4{
  padding-left: 12%;

}
.contentsectionlets{
  padding-left: 12%;
}
.contentsectionlets-head{
  letter-spacing: 6px;
}
.dedication-text {
  letter-spacing: 6px;
  color: #888;
}
.contentsectionlets-head {
  color: #888;
}
.timeeffective-text {
  letter-spacing: 6px;
  color: #888;
}
.lets-talk-section-para{
  font-family: '__Outfit_ef45e8';
}
.benefits-section-para{
  font-family: '__Outfit_ef45e8';
}
.commitsection-heading {
  font-family: '__Outfit_12c7b4', '__Outfit_Fallback_12c7b4';
  padding-top: 2%;
}
.benefits-section-heading {
  font-family: '__Outfit_12c7b4', '__Outfit_Fallback_12c7b4'; 
}
.circle-section{
  display: flex;
  justify-content: center;
  border: 3px solid #000;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
}


























